body {
  font-family: "Oxygen", sans-serif;
  background-color: #6495ed;
}
header {
  background-color: #ff8c00;
}
footer {
  background-color: #ff8c00;
}
div {
  background-color: #0040ff;
}
.left {
  width: 75%;
  float: left;
  background-color: #bb2dc0;
}
.right {
  width: 25%;
  float: left;
  background-color: #000000;
  color: #ffffff;
}
bob {
  width: 100%;
  float: right;
  text-align: center;
  background-color: #ff8c00;
}
content {
  height: 80%;
}
